@{
    ViewData["Title"] = "Home Page";
}

<section class="login-form-section">
    <div class="inner">
        <div class="container">
            <h1>CardyFlex</h1>
        </div>
    </div>
</section> 