@{
    ViewData["Title"] = "Home Page";
}

<section class="login-form-section">
    <div class="inner">
        <div class="container">
            <h2>CardyFlex</h2>
            <form>
                <div>
                    <label class="input-label">Email</label> <br />
                    <input type="text" class="form-input" placeholder="" value="" /> <br />
                </div>
                <div>
                    <label class="input-label">Password</label> <br />
                    <input type="text" class="form-input" placeholder="" value="" /> <br />
                </div>
                <div>
                    <input type="checkbox" class="form-input" placeholder="" value="" /> <br />
                    <p>Remember me</p> <br />
                </div>
                <input type="submit" class="" placeholder="" value="Log in" />
            </form>
        </div>
    </div>
</section> 